
h1 {
    border-bottom: none;
}

#board {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    
}

body {
    margin: 0;
}

@media (max-width: 600px) {
  #board {
    transform: scale(0.8);
    transform-origin: top center;
  }
}
