
h1 {
    border-bottom: none;
}
h2 {
    border-bottom: none;
}

#board {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}


body {
    margin: 20px auto;
}


@media (max-width: 600px) {
  h1 {
    font-size: 4px;
  }

  h2 {
    font-size: 1px;
  }
}
