
h1 {
    border-bottom: 10px;

}
h2 {
    border-bottom: 10px;
    color: black;
}

#board {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}


body {
    margin: 20px auto;
}


@media (max-width: 600px) {
  h1 {
    font-size: 10px;
    color: black;
    text-align: center;
  }

  h2 {
    font-size: 10px;
    color: black;
    text-align: center;
  }
}
code {
  color: black;         /* eller en tydelig farge */
  font-size: 14px;      /* juster for mobilvennlig størrelse */
  background: #f5f5f5;  /* lys bakgrunn */
  padding: 2px 4px;
  border-radius: 4px;
}

pre {
  white-space: pre-wrap;   /* bryt linjer på små skjermer */
  word-wrap: break-word;   /* bryt lange ord */
  overflow-x: auto;        /* legg til scroll hvis nødvendig */
  background: #f5f5f5;     /* lys bakgrunn */
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;         /* litt mindre skrift */
}
